<div class="mat-elevation-z8" id="emp-tab" [style.display]="waiting1">
    <table mat-table [dataSource]="datasource">
  
      
      <ng-container matColumnDef="Employee_id">
        <th mat-header-cell *matHeaderCellDef> Employee_id </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_id}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="Skills">
        <th mat-header-cell *matHeaderCellDef  class="skills"> Skills </th>
        <td mat-cell *matCellDef="let element"> 
            <ul>
                <li class="small" 
                *ngFor="let x of element.skills">{{x.name}}</li>
                
            </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="Profile">
        <th mat-header-cell *matHeaderCellDef> Profile </th>
        <td mat-cell *matCellDef="let element"> {{element.profile.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Experience">
        <th mat-header-cell *matHeaderCellDef> Experience </th>
        <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
      </ng-container>
      <ng-container matColumnDef="Manager">
        <th mat-header-cell *matHeaderCellDef> Manager </th>
        <td mat-cell *matCellDef="let element"> {{element.manager}} </td>
      </ng-container>

      <ng-container matColumnDef="Request Lock">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
           
            <button mat-raised-button color="primary" (click)="loadDialog(element.employee_id)">
                <mat-icon color="white" 
                aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
                Request lock
            </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  <div style="margin-left: 30%"  [style.display]="waiting2">
      <mat-spinner></mat-spinner>
  </div>