.header{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: indigo;
    color: white;
}

.content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content textarea{
    height: 100px;
    width: 400px;
    border: 1px solid indigo;
}


span{
    color: darkblue;
    font-weight: bold;
    display:inline-block;
    margin-right: 10px;
}

h6{
    padding: 10px;
}

p{
    text-decoration: underline;
    color: indigo;
    font-weight: bold;
}